.title{
  font-size: x-large;
  color: #693D2A;
  padding-top: 50px;
}

.title1{
  color: #693D2A;
}

.title4{
  padding-top: 10px;
  color: #693D2A;
  margin-left: 7px;
}
.title5{
  margin-left: 655px;
  font-size: 15px;
}

.title6{
  font-size: 20px;
  margin-left: 30px;
  color: #9E7C6B;
  padding-top: 10px;

}

.parenthese{
  margin-left: -34px;
  //font-family:'Times New Roman', Times, serif
}

.trait_dessus
{
border-top: 1px solid #000;
margin-left: 30px;
width : 1015px;
}

#trait_dessous
{
border-top: 1px solid #000;
margin-left: 645px;
margin-top: 15px;
width : 370px;
}

.textPanier{
  font-size: 23px;
  margin-left: 35px;
  //font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.textPanier2{
  font-size: 23px;
  padding-top: 20px;
}

.textPanier3{
  font-size: 23px;
  margin-left: 35px;

}


.btn-2{
  margin-left: -100px;
}

.inputForm{
  border-radius: 10px;
  background-color: #DDDCDB;
  text-align: center;
  font-size: 15px;
}


.btn-access{
  background-color: #693D2A;
  color: white;
  padding: 1px 12px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3px;
}

.btn-valider{
  background-color: #693D2A;
  color: white;
  padding: 1px 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
}

.PoursuivreCommander{
  padding-top: 50px;
}

.btn-Poursuivre{
  color: #693D2A;
  padding: 7px 15px;
  border: 1px solid #693D2A;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.btn-Commander{
  background-color: #693D2A;
  color: white;
  padding: 3px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 3px;
}

.restez-connecte{
  margin-top: 200px;
  text-align: center;
  font-size: 25px;
  color: #693D2A;
  font-weight: bold;
}
