.container{
  border: 1px solid #693D2A;
  border-radius: 10px;
}
.pd-se-connecter{
  padding: 10px;
  a{
    color: #693D2A;
    text-decoration-color: #693D2A;
  }
}
// .pd-ou{
//   padding-top: 5px;
//   padding-bottom: 5px;
// }

