<!-- slider -- Debut -->
<div>
  <!-- slider-container -- Début-->
  <div  class="slider"  >

    <!-- slider  -- Début -->
    <div class="slider-item">
      <div fxFill [ngStyle]="{'background-image': 'url(' +backgroundImageLink +')'}" ></div>
    </div>
    <!-- slider items -- Fin -->

    <!-- Title -- Début -->
    <div class="slider-title" fxLayout="row" fxLayoutAlign="center center" >
      <h1>{{title}}</h1>
    </div>
    <!-- Title -- Fin -->


  </div>
  <!-- slider-container -- Fin -->
</div>
<!-- slider -- Fin -->
