<!-- Login -- Début -->
<div>

  <!-- SignUp Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- SignUp -- Début -->
      <div fxLayout="column" >

        <div  fxLayout="row" fxFlex="120px"  fxLayoutAlign="center center"  >
          <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="login">
            <li>
              <a href="javascript:void(0)" [routerLink]="['/connexion']" routerLinkActive="active"  >Je m'identifie</a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLink]="['/inscription']" routerLinkActive="active"  >Je créé mon Compte</a>
            </li>
          </div>
        </div>

        <!-- Title -- Je me connecte à mon compte -- Début -->
        <div  fxLayout="row" fxLayoutAlign="center center" >
          <h1 class="title-1"  >Je crée un compte</h1>
        </div>
        <!-- Title -- Je me connecte à mon compte -- Fin -->

        <!-- Login -- Login -- Début  -->
        <form fxLayout="column" fxLayoutGap="35px"  [formGroup]="signUpForm" (ngSubmit)="signUp()">

          <div fxLayout="column" >
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <input id="sex-0" formControlName="sex" name="sex" type="radio" value="0" class="checkbox_sex form-check-input"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.sex.errors }">&nbsp;
                <span for="sex-0" class="form-check-label">Mme</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <input id="sex-1" formControlName="sex" name="sex" type="radio" value="1" class="checkbox_sex form-check-input"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.sex.errors }">&nbsp;
                <span for="sex-1" class="form-check-label">M</span>
              </div>
            </div>
            <div *ngIf="submitted && signUpForm.controls.sex.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.sex.errors.requiredTrue">Le genre est réquis !</div>
            </div>
          </div>

          <div fxLayout="row"  fxLayoutAlign="center center">

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex="60" fxLayoutGap="25px" >

              <div fxLayout="column" fxFill >
                <input formControlName="firstname" fxFlex placeholder="Prénoms*" class="input form-control" type="text"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.firstname.errors }">
                <div *ngIf="submitted && signUpForm.controls.firstname.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.firstname.errors.required">Le prénom est réquis !</div>
                </div>
              </div>

              <div fxLayout="column" fxFill>
                <input formControlName="lastname" fxFlex placeholder="Nom*" class="input form-control" type="text"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.lastname.errors }">
                <div *ngIf="submitted && signUpForm.controls.lastname.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.lastname.errors.required">Le nom est réquis !</div>
                </div>
              </div>

              <div fxLayout="column" fxFill>
                <input formControlName="email" fxFlex placeholder="E-mail*" class="input form-control" type="text"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.email.errors }">
                <div *ngIf="submitted && signUpForm.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.email.errors.required">L'adresse email est réquise !</div>
                  <div *ngIf="signUpForm.controls.email.errors.email">L'adresse email est invalide !</div>
                </div>
              </div>

              <div fxLayout="column" fxFill>
                <input formControlName="reEmail" fxFlex placeholder="Confirmer l'adresse e-mail*" class="input form-control" type="text"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.reEmail.errors }">
                <div *ngIf="submitted && signUpForm.controls.reEmail.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.reEmail.errors.required">La confirmation de l'adresse email est réquise !</div>
                  <div *ngIf="signUpForm.controls.reEmail.errors.matching">Les adresses email saisies sont différentes !</div>
                </div>
              </div>

              <div fxLayout="column" fxFill>
                <input formControlName="password" fxFlex placeholder="Mot de passe*" class="input form-control" type="password"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.password.errors }">
                <div *ngIf="submitted && signUpForm.controls.password.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.password.errors.required">Le mot de passe est réquis !</div>
                  <div *ngIf="signUpForm.controls.password.errors.minlength">Le mot de passe doit avoir au moins 6 caractères !</div>
                  <div *ngIf="signUpForm.controls.password.errors.maxlength">Le mot de passe doit avoir au plus 40 caractères !</div>
                </div>
              </div>

              <div fxLayout="column" fxFill>
                <input formControlName="rePassword" fxFlex placeholder="Confirmer le mot de passe*" class="input form-control" type="password"
                [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.rePassword.errors }">
                <div *ngIf="submitted && signUpForm.controls.rePassword.errors" class="invalid-feedback">
                  <div *ngIf="signUpForm.controls.rePassword.errors.required">La confirmation du mot de passe est réquise !</div>
                  <div *ngIf="signUpForm.controls.rePassword.errors.matching">Les mots de passes saisis sont différents !</div>
                </div>
              </div>
            </div>

          </div>

          <div fxLayout="column"  fxLayoutAlign="center center" fxFlex.xs="100" fxFlex="60" >
            <div  fxLayout="row" fxLayoutGap="15px">
              <input formControlName="acceptTerms" type="checkbox" id="inputCheckbox" class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && signUpForm.controls.acceptTerms.errors }">
              <label for="acceptTerms" class="form-check-label">Oui, j'ai lu et j'accepte la Politique de Protection des Données</label>
            </div>
            <div *ngIf="submitted && signUpForm.controls.acceptTerms.errors" class="invalid-feedback">
              <div >Confirmation réquise !</div>
            </div>
          </div>



          <div fxLayout="row"  fxLayoutAlign="center center">
            <button type="submit" class="btn btn-connecter" fxLayoutGap="25px" >Valider et créer mon compte</button>
          </div>


        </form>
        <!-- Login -- Login -- Fin  -->








      </div>

      <div fxLayout="column" fxLayoutAlign="center center" >
        <span class="restez-connecte">RESTEZ CONNECTÉ</span>
        <div fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="5px" fxLayoutGap.xs="15%" >

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53"  src="assets/images/Fichier 7@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 8@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 9@2x.png" alt="">
          </a>

        </div>
      </div>
      <!-- SignUp -- Fin -->


    </div>
  <!-- SignUp container - Fin -->

</div>
<!-- SignUp -- Fin -->



