<!-- Login -- Début -->
<div>

  <!-- SignUp Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- SignUp -- Début -->
      <div fxLayout="column" >
        <div  fxLayout="row" fxFlex="120px"  fxLayoutAlign="center center"  >
          <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="login">
            <li>
              <a href="javascript:void(0)" [routerLink]="['/panier']" routerLinkActive="active"  >Panier</a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLink]="['/connexion']" routerLinkActive="active"  >Je m'identifie</a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLink]="['/inscription']" routerLinkActive="active"  >Je créé mon Compte</a>
            </li>
          </div>
        </div>

        <div fxLayout="row" fxFlex="120px" fxLayoutAlign="center center" fxLayoutGap="200px">
          <div><input type="checkbox" class="checkbox_sex"><span>Mme</span></div>
          <div><input type="checkbox" class="checkbox_sex"><span >M</span></div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="300px" fxLayoutGap="25px">
          <input fxFlex placeholder="Prénom*" class="input" type="text">
          <input fxFlex placeholder="Nom*" class="input" type="text">
          <input fxFlex placeholder="E-mail*" class="input" type="text">
          <input fxFlex placeholder="Confirmer l'adresse e-mail*" class="input" type="text">
          <input fxFlex placeholder="Mot de passe **" class="input" type="text">
          <input fxFlex placeholder="Confirmer le mot de passe*" class="input" type="text">
        </div><br>

        <div fxLayout="row" fxFlex="120px" fxLayoutAlign="center center" fxLayoutGap="10px">
          <input type="checkbox" id="inputCheckbox">
          <label for="politique">Oui, j'ai lu et j'accepte la Politique de Protection des Données</label><br>
        </div>

        <a class="btn btn-connecter" fxLayoutGap="25px" href="javascript:void(0)" >Valider et créer mon compte</a>


      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="400px">
        <span class="restez-connecte">RESTEZ CONNECTÉ</span>
        <div fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="5px" fxLayoutGap.xs="15%" >

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53"  src="assets/images/Fichier 7@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 8@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 9@2x.png" alt="">
          </a>

        </div>
      </div>
      <!-- SignUp -- Fin -->


    </div>
  <!-- SignUp container - Fin -->

</div>
<!-- SignUp -- Fin -->



