.login{
  list-style: none;
  li{
    a{
      text-decoration: none;
      color: #020004;
      font-size: 120%;
    }

    a.active{
      color: #693D2A;
      font-weight: bold;
    }

    a:hover{
      text-decoration: underline;
      text-decoration-color: #693D2A;
    }
  }

  @media(max-width: 400px){
    li{
      a{
        text-decoration: none;
        color: #020004;
        font-size: 80%;
      }
      }
  }
}

.textspan{
  color: #693D2A;
  font-weight: bold;
  font-size: 29px;
}

.input{

    border-radius: 12px 12px;
    font-style: italic;
    border: 1px;
    background-color: #DDDCDB;
    padding-left: 10px;
    align-items: center;
    width: 46%;
}

.input:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-connecter{
  background-color: #693D2A;
  color: white;
  border-radius: 40px;
  width: 250px;
  align-self: center;
  font-weight: bold;
}

#inputCheckbox{
    margin-left: -3%;
    width: 20px;
    height: 20px;

}

.checkbox_sex{
    width: 1.4em;
    height: 1.4em;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #693D2A;
    -webkit-appearance: none;
    cursor: pointer;
}

/* .lala{
  margin-left: -19.4%;
} */

.checkbox_sex:checked {
  background-color: gray;
}









