<div class="a-block-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h5 class="a-block-header-title">MES ADRESSES DE LIVRAISON</h5>
  <button class="pa-button-circle" fxLayout="row" fxLayoutAlign="center center" (click)="updateDisplay('add')">
    <fa-icon [icon]="faPlus" [styles]="{'color': 'white'}"></fa-icon>
  </button>
</div>
<div class="pa-block-body">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 10px;">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"><span style="cursor : pointer " ><fa-icon [icon]="faPen" [styles]="{'color': '#693D2A'}"></fa-icon></span><div fxLayout="column" class="pa-delivery-address"><span>Abidjan, Cote d'Ivoire</span><span>Cocody, 2 Plateaux</span></div></div>
    <span style="cursor : pointer " ><fa-icon [icon]="faTrash"></fa-icon></span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 10px;">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"><span  style="cursor : pointer "><fa-icon [icon]="faPen" [styles]="{'color': '#693D2A'}"></fa-icon></span><div fxLayout="column" class="pa-delivery-address"><span>Abidjan, Cote d'Ivoire</span><span>Cocody, 2 Plateaux</span></div></div>
    <span style="cursor : pointer " ><fa-icon [icon]="faTrash"></fa-icon></span>
  </div>
</div>

