<!-- Shop -- Début -->
<div>

  <!-- Shop Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- Slider  -- Début  -->
      <div>
        <app-slider title="NOS PRODUITS" backgroundImageLink="assets/images/img3.jpg"></app-slider>
      </div>
      <!-- Slider  -- Fin -->

      <!-- Filtre -- Début -->
      <div id="filtre-produits" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px"  >
          <a class="btn btn-filtre" (click)="getProductByCategories(null)" [ngClass]="{'active': !categorySelected}" href="javascript:void(0)" >
            <span >Tous</span>
          </a>
          <a *ngFor="let category of categories" fxLayout="row" (click)="getProductByCategories(category.name)" [ngClass]="{'active': categorySelected==category.name}"  class="btn btn-filtre" href="javascript:void(0)" >
            <span >{{category.name}}</span>
          </a>
      </div>
      <!-- Filtre -- Fin -->

      <!-- Produits -- Début -->
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign.xs="center center"  fxLayoutGap.gt-xs="3%">
            <app-product-card  fxFlex.sm="47" fxFlex="30" *ngFor="let product of products" [product]="product" ></app-product-card>
          </div>
          <div>
            <h1 *ngIf="!products.length" class="title">AUCUN PRODUIT !</h1>
          </div>
          <div *ngIf="isShowMoreProducts || !products.length" (click)="showMoreProducts()" fxLayout="row" fxLayoutAlign="center center" [style.margin-top.px]="10">
            <a href="javascript:void(0)" class="voir-tous-les-prod">VOIR PLUS DE PRODUITS</a>
          </div>
        </div>
      <!-- Produits -- Fin -->

      <!-- Accès rapide -- Début -->
        <div fxLayout="column" class="container">

          <div fxLayout="row" >
            <h1 class="title">ACCÈS RAPIDES</h1>
          </div>

          <div fxLayout="column" fxLayoutGap="10px" >
            <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start center" fxLayoutGap="3%" fxLayoutGap.xs="0%">
              <a fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-md="30" fxFlex="47" fxFlex.xs="100" class="btn btn-access" href="javascript:void(0)" ><span>> SOIN DE VISAGE</span></a>
              <a fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-md="30" fxFlex="47" fxFlex.xs="100" class="btn btn-access" href="javascript:void(0)" ><span>> SOIN DU CORPS</span></a>
            </div>
            <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start center" fxLayoutGap="3%" fxLayoutGap.xs="0%">
              <a fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-md="30" fxFlex="47" fxFlex.xs="100" class="btn btn-access" href="javascript:void(0)" ><span>> SANTE FEMININE</span></a>
              <a fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-md="30" fxFlex="47" fxFlex.xs="100" class="btn btn-access" href="javascript:void(0)" ><span>> HOMME</span></a>
            </div>
          </div>
        </div>



      <!-- Accès rapide -- Fin -->

    </div>
  <!-- Shop container - Fin -->

</div>
<!-- Shop-- Fin -->
