<!-- Shop -- Début -->
<div>

  <!-- Shop Container -- Début -->
    <div>

      <!-- Slider  -- Début  -->
      <div>

      </div>
      <!-- Slider  -- Fin -->

      <!-- Filtre -- Début -->
      <br><br><br><br>
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxLayoutGap="40px">
          <a class="btn btn-filtre" href="javascript:void(0)" ><span>TOUS</span></a>
          <a class="btn btn-filtre2" href="javascript:void(0)" ><span>SOIN DE VISAGE</span></a>
          <a class="btn btn-filtre2" href="javascript:void(0)" ><span>SOIN DU CORPS</span></a>
          <a class="btn btn-filtre2" href="javascript:void(0)" ><span>SANTE FEMININE</span></a>
          <a class="btn btn-homme" href="javascript:void(0)" ><span>HOMME</span></a>
        </div>
      </div>
      <!-- Filtre -- Fin -->

      <!-- Produits -- Début -->
        <div>

        </div>
      <!-- Produits -- Fin -->

      <!-- Accès rapide -- Début -->
      <br><br><br><br>
      <div id="container-acces" >

          <div fxLayout="column" class="container">

            <div fxLayout="row" >
              <h4 id="title">ACCÈS RAPIDES</h4>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="15px">
              <a class="btn btn-access1" href="javascript:void(0)" ><span>> SOIN DE VISAGE</span></a>
              <a class="btn btn-access1" href="javascript:void(0)" ><span>> SOIN DU CORPS</span></a>

            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly start" >
              <div fxLayout="column" fxLayoutGap="15px">
                <a class="btn btn-access2" href="javascript:void(0)" ><span>> SANTE FEMININE</span></a>
                <a class="btn btn-access2" href="javascript:void(0)" ><span>> HOMME</span></a>
              </div>
            </div>
          </div>


      </div>
      <!-- Accès rapide -- Fin -->

    </div>
  <!-- Shop container - Fin -->

</div>
<!-- Shop-- Fin -->
