.btn-access1{
  transform: translate(1%, 60%);
  background-color: #D89065;
  color: white;
  padding: 15px 100px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 31px;
}

.btn-access2{
  transform: translate(40%, -157%);
  background-color: #D89065;
  color: white;
  padding: 15px 100px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 31px;
}

.btn-filtre{
  background-color: #693D2A;
  color: white;
  padding: 5px 50px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 27px;
}

.btn-filtre2{
  color: #693D2A;
  padding: 5px 5px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 27px;
}

.btn-homme{
  text-align: left;
  color: #693D2A;
  padding: 5px 33px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 27px;
}

.btn-filtre2{
  border: 3px solid #693D2A;
}

.btn-homme{
  border: 3px solid #693D2A;
}

.btn-acheter:hover{
  text-decoration: none;
}

#container-acces{
  padding-bottom: 100px;
  width: auto;
}

#title{
  color: #D89065;
  font-size: 45px;
}

