<!-- Home  -- Début -->
<div>

  <!-- Home container -->
    <div class="container" fxLayoutGap="40px" fxLayout="column">
      <!-- Slider Home -- Début  -->
      <div>
        <app-slider-home></app-slider-home>
      </div>
      <!-- Slider Home -- Fin -->

      <!-- Hello que cherchez-vous ? -- Début -->
        <div>

        </div>
      <!-- Hello que cherchez-vous ? -- Fin -->

      <!-- Notre sélection du moment -- Début -->
        <div fxLayout="column" >
          <div>
            <h1 id="title">NOTRE SÉLECTION DU MOMENT...</h1>
          </div>

          <!-- fxLayout="row" fxLayoutAlign="space-between  center" fxLayoutGap="25px" -->
          <div id="carousel-featured-product">
            <a href="javascript:void(0)" class="btn-prev" fxLayout="row" fxLayoutAlign="center center"><img height="40" width="40" src="assets/images/icones/left-arrow-white.png" alt=""></a>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <a href="javascript:void(0)"  class="btn-next" fxLayout="row" fxLayoutAlign="center center"><img height="40" width="40" src="assets/images/icones/right-arrow-white.png" alt=""></a>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" [style.margin-top.px]="10">
            <a href="javascript:void(0)" id="voir-tous-les-prod">VOIR TOUS LES PRODUITS</a>
          </div>
        </div>
      <!-- Notre sélection du moment -- Fin -->

      <!-- Conseils et Actualités -- Début -->
        <div>

        </div>
      <!-- Conseils et Actualités -- Fin -->

      <!-- Offres exlusives -- Début -->
        <div>

        </div>
      <!-- Offres exclusives -- Fin -->

    </div>
  <!-- Home container -- Fin -->

</div>
<!-- Home  -- Fin -->
