<!-- Home  -- Début -->
<div>

  <!-- Home container -->
    <div class="container" fxLayoutGap="40px" fxLayout="column">
      <!-- Slider Home -- Début  -->
      <div>
        <app-slider-home></app-slider-home>
      </div>
      <!-- Slider Home -- Fin -->

      <!-- Hello que cherchez-vous ? -- Début -->
        <div>
          <div>
            <h1 id="titleHello">Hello, que cherchez-vous ? </h1>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="150px" >

            <div fxFlex="9" fxLayout="column">
              <img fxFlex src="assets/images/Fichier 3@2x.png" alt="">
              <div  fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column">
                  <div class="boutique-conseil"><b>> Boutique</b></div>
                </div>
              </div>
            </div>

            <div fxFlex="12">
              <div  fxLayout="column">
                <img fxFlex src="assets/images/Fichier 2@2x.png" alt="">
                <div  fxLayout="column" fxLayoutGap="10px">
                  <div fxLayout="column">
                    <div class="boutique-conseil"><b>> Conseils</b></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div><br><br>
      <!-- Hello que cherchez-vous ? -- Fin -->

      <!-- Notre sélection du moment -- Début -->
        <div fxLayout="column" >
          <div>
            <h1 class="title">NOTRE SÉLECTION DU MOMENT...</h1>
          </div>

          <!-- fxLayout="row" fxLayoutAlign="space-between  center" fxLayoutGap="25px" -->
          <div id="carousel-featured-product">
            <a href="javascript:void(0)" class="btn-prev" fxLayout="row" fxLayoutAlign="center center"><img height="40" width="40" src="assets/images/icones/left-arrow-white.png" alt=""></a>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <app-product-card ></app-product-card>
            <a href="javascript:void(0)"  class="btn-next" fxLayout="row" fxLayoutAlign="center center"><img height="40" width="40" src="assets/images/icones/right-arrow-white.png" alt=""></a>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" [style.margin-top.px]="10">
            <a href="javascript:void(0)" id="voir-tous-les-prod">VOIR TOUS LES PRODUITS</a>
          </div>
        </div>
      <!-- Notre sélection du moment -- Fin -->

      <!-- Conseils et Actualités -- Début -->

          <div fxLayout="column" >
            <div>
              <h1 id="titleConseil">CONSEILS ET ACTUALITÉS</h1>
            </div>

            <!-- conseils -- Début -->
            <div fxLayout="row" fxLayoutGap="78px" >

              <div fxFlex="47" fxLayout="column" class="conseil-card">
                <img class="img-conseil" fxFlex src="assets/images/apSpcOAhF8.jpg" alt="">
                <div  fxLayout="column" fxLayoutGap="10px">
                  <div fxLayout="column" class="category-name">
                    <div class="name1"><b>VISAGE</b></div>
                    <p class="name2"><b>LES MEILLEURS CONSEILS POUR UNE BELLE PEAU... </b></p>
                      <a href="javascript:void(0)" class="en-savoir-plus"><b>>EN SAVOIR PLUS</b></a>
                  </div>
                </div>
              </div>

              <div fxFlex="47" class="conseil-card">
                <div  fxLayout="column" class="conseil-card">
                  <img class="img-conseil" fxFlex src="assets/images/quaxocjQqn.jpg" alt="">
                  <div  fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="column" class="category-name">
                      <div class="name1"><b>SANTÉ FÉMININE</b></div>
                      <p class="name2"><b>SOULAGER LES DOULEURS PRÉ-MENSTRUELLES... </b></p>
                        <a href="javascript:void(0)" class="en-savoir-plus"><b>>EN SAVOIR PLUS</b></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- conseils -- Fin -->

            <!-- actualités -- Début -->
            <div fxLayout="row" fxLayoutGap="64px" >

              <div fxFlex="30" fxLayout="column" class="conseil-card2">
                <img class="img-conseil" fxFlex src="assets/images/apSpcOAhF8.jpg" alt="">
                <div  fxLayout="column" fxLayoutGap="10px">
                  <div fxLayout="column" class="category-name">
                    <div class="name1"><b>NOTRE HISTOIRE</b></div>
                    <p class="name2">L’origine et l’histoire de la marque Secret de Mafa.</p>
                      <a href="javascript:void(0)" class="en-savoir-plus"><b>>EN SAVOIR PLUS</b></a>
                  </div>
                </div>
              </div>

              <div fxFlex="30" class="conseil-card2">
                <div  fxLayout="column" class="conseil-card2">
                  <img class="img-conseil" fxFlex src="assets/images/HFmzHoyl0Q.jpg" alt="">
                  <div  fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="column" class="category-name">
                      <div class="name1"><b>NOS VALEURS</b></div>
                      <p class="name2">Les valeurs fondatrices de notre identité, notre
                        savoir-faire et notre savoire-être. </p>
                        <a href="javascript:void(0)" class="en-savoir-plus"><b>>EN SAVOIR PLUS</b></a>
                    </div>
                  </div>
                </div>
              </div>

              <div fxFlex="30" class="conseil-card2">
                <div  fxLayout="column" class="conseil-card2">
                  <img class="img-conseil" fxFlex src="assets/images/quaxocjQqn.jpg" alt="">
                  <div  fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="column" class="category-name">
                      <div class="name1"><b>NOTRE SAVOIR-FAIRE</b></div>
                      <p class="name2">Le savoir-faire pharmaceutique de Secret de Mafa,
                        une cosmétique naturelle et bio.</p>
                        <a href="javascript:void(0)" class="en-savoir-plus"><b>>EN SAVOIR PLUS</b></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- actualités -- Fin -->

          </div>

      <!-- Conseils et Actualités -- Fin -->

      <!-- Offres exlusives -- Début -->
        <div>

        </div>
      <!-- Offres exclusives -- Fin -->

    </div>
  <!-- Home container -- Fin -->

</div>
<!-- Home  -- Fin -->
