<!-- Login -- Début -->
<div>

  <!-- Login Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- Login -- Début -->
      <div fxLayout="column"  >

        <div  fxLayout="row" fxFlex="120px"  fxLayoutAlign="center center"  >
          <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" class="login">
            <li>
              <a href="javascript:void(0)" [routerLink]="['/connexion']" routerLinkActive="active"  >Je m'identifie</a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLink]="['/inscription']" routerLinkActive="active"  >Je créé mon Compte</a>
            </li>
          </div>
        </div>

        <!-- Title -- Je me connecte à mon compte -- Début -->
        <div  fxLayout="row" fxLayoutAlign="center center" >
          <h1 class="title-1"  >Je me connecte à mon compte</h1>
        </div>
        <!-- Title -- Je me connecte à mon compte -- Fin -->

        <!-- Login -- Login -- Début  -->
        <form fxLayout="column" fxLayoutGap="35px" [formGroup]="loginForm" (ngSubmit)="login()">

          <div fxLayout="row"  fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex="60" fxLayoutGap="25px" >
              <div fxLayout="column" fxFill>
                <input formControlName="email"  placeholder="E-mail*" class="input form-control" type="text"
                [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }">
                <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.controls.email.errors.required">L'adresse email est réquise !</div>
                  <div *ngIf="loginForm.controls.email.errors.email">L'adresse email est invalide !</div>
                </div>
              </div>
              <div fxLayout="column" fxFill>
                <input formControlName="password" placeholder="Mot de passe*" class="input form-control" type="password"
                [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
                <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.controls.password.errors.required">Le mot de passe est réquis !</div>
                </div>
              </div>

            </div>
          </div>

          <!-- Message d'erreur -->
          <div  *ngIf="errorMessage"  fxLayout="row" fxLayoutAlign="center center" >
            <div fxFlex.xs="100" fxFlex="60" class="alert alert-warning alert-dismissible ">
              <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
              <!-- <h5><i class="icon fas fa-exclamation-triangle"></i></h5> -->
              {{errorMessage}}
            </div>
          </div>
          <!-- Fin Message d'erreur -->

          <div fxLayout="row"  fxLayoutAlign="center center">
            <button type="submit" class="btn btn-connecter" fxLayoutGap="25px"  >Se connecter</button>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutAlign.xs="center center">

            <div fxLayout="column" fxLayoutGap="15px" fxFlex="60" fxFlex.xs="100">

              <div fxLayout="row"  fxLayoutAlign.xs="center center" fxLayoutGap="8px">
                <input type="checkbox" id="inputCheckbox">
                <label for="resterConnecter">Rester connecté/e</label><br>
              </div>

              <div fxLayout="row" fxLayoutAlign.xs="center center">
                <span id="mdp_oublie">Mot de passe oublié ?</span>
              </div>

              <div fxLayout="row" fxLayoutAlign.xs="center center">
                <a href="javascript:void(0)" id="nouveau_compte">Créer un nouveau compte</a>
              </div>


            </div>

          </div>

        </form>
        <!-- Login -- Login -- Fin  -->


      </div>

      <div fxLayout="column" fxLayoutAlign="center center" >
        <span class="restez-connecte">RESTEZ CONNECTÉ</span>
        <div fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="5px" fxLayoutGap.xs="15%" >

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53"  src="assets/images/Fichier 7@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 8@2x.png" alt="">
          </a>

          <a href="javascript:void(0)"  fxLayoutAlign="center center">
            <img height="53" src="assets/images/Fichier 9@2x.png" alt="">
          </a>

        </div>
      </div>
      <!-- Login -- Fin -->


    </div>
  <!-- Login container - Fin -->

</div>
<!-- Login -- Fin -->


