<div class="p-container">
  <div class="p-block-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h5>Méthode de paiement</h5>
  </div>

  <div class="pa-block-body">
    <div fxLayout="row" fxLayoutAlign="start center" style="margin: 10px;">
      <input class="p-radio" name="radio-payment-method" value="0" type="radio" id="radio-payment-method-0"  >
      <label fxLayout="column" style="color : #693D2A;font-weight: bold;" for="radio-payment-method-0">Paiement à la livraison</label>
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" style="margin: 10px;">
        <input class="p-radio" name="radio-payment-method" value="1" id="radio-payment-method-1" type="radio"  >
        <label style="color : #693D2A;font-weight: bold;" for="radio-payment-method-1">Paiement en ligne</label>
      </div>
      <div class="block-paiment-in-line" fxLayout="row wrap" fxLayoutAlign="center center">
        <a href="javascirpt:void(0)" class="btn btn-app" fxLayoutAlign="center center"><img class="img-paiment-in-line" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/300px-MasterCard_Logo.svg.png" alt=""></a>
        <a href="javascirpt:void(0)" class="btn btn-app active" fxLayoutAlign="center center"><img class="img-paiment-in-line" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/300px-MasterCard_Logo.svg.png" alt=""></a>
        <a href="javascirpt:void(0)" class="btn btn-app" fxLayoutAlign="center center"><img class="img-paiment-in-line" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/300px-MasterCard_Logo.svg.png" alt=""></a>

      </div>
    </div>
  </div>



</div>

