<!-- Footer Container -- Début -->
  <div id="container-footer" >

    <!-- Footer -- Début -->
      <div fxLayout="column" class="container">

        <div fxLayout="row" >
          <h4 id="title">#MAFALOVES</h4>
        </div>

        <div fxLayout="row" >
          <h5 id="caption">Partager votre expérience et vos plus belles photos avec le #MAFALOVES</h5>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between  center" id="zone-images-footer">
          <div fxFlex="30" ><img fxFill src="assets/images/sm-footer-1.jpg" alt=""></div>
          <div fxFlex="30" ><img fxFill src="assets/images/sm-footer-2.jpg" alt=""></div>
          <div fxFlex="30" ><img fxFill src="assets/images/sm-footer-3.jpg" alt=""></div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap.xs="35px" fxLayout.xs="column" fxLayoutAlign="space-between  none" id="contact-area" >

          <div fxFlex="30">
            <h6 class="title">NEWSLETTER</h6>
            <p>Inscrivez-vous à notre Newsletter et recevez
              régulièrement, gratuitement et sans engagement
              des conseils, ores exclusives, actualités ...
            </p>
            <div fxLayout="row" id="input-newsletter"><input fxFlex placeholder="Mon email" id="input" type="text"><a fxLayout="row" fxLayoutAlign="center center" fxFlex="15" href="javascript:void(0)" id="button-ok" >OK</a></div>
          </div>

          <div fxFlex="30">
            <h6 class="title">CONTACTEZ-NOUS</h6>
              <div>
                <div class="subtitle">Par téléphone</div>
                <div fxLayout="column">
                  <span>(CIV) : +225 07 0000 0000</span>
                  <span>(FR) : +33 06 1111 1111</span>
                </div>
                <div class="subtitle">Ou remplissez le <a href="javascript:void(0)">formulaire</a></div>
              </div>
          </div>

          <div fxFlex="30">
            <h6 class="title">RESTEZ CONNECTÉ</h6>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div><img src="assets/images/icones/fb.png" height="64" width="64" alt=""></div>
              <div><img src="assets/images/icones/insta.png"  height="64" width="64"  alt=""></div>
              <div><img src="assets/images/icones/snap.png"  height="64" width="64"  alt=""></div>
            </div>
          </div>

        </div>

      </div>
    <!-- Footer -- Fin -->

  </div>
<!-- Footer Container -- Fin -->
