<!-- Header  -- Début -->
  <div fxLayout="column" id="header" >

    <!-- Header Container -- Début -->
      <div fxLayout='column' class="container">

          <!-- Header Top  -- Début  -->
            <div fxLayout="row" fxFlex="80px" fxLayoutAlign="space-between center" >

              <div fxLayout="row" id="en" >
                <a href="javascript:void(0)">En <img width="16" height="16" src="assets/images/icones/down-arrow.png" alt=""></a>
              </div>

              <!-- Logo -->
              <div fxLayout="column" fxLayoutAlign="center center" >
                <img src="assets/images/icones/logo.png" height="72"  alt="">
              </div>

              <div fxLayout="row" fxLayoutGap="10px" >
                <a href="javascript:void(0)"><img width="30" height="30" src="assets/images/icones/search.png" alt=""></a>
                <a href="javascript:void(0)"><img width="30" height="30" src="assets/images/icones/user.png" alt=""></a>
                <a href="javascript:void(0)" id="cart" class="position-relative"><img width="30" height="30" src="assets/images/icones/cart.png" alt="">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill ">+99</span>
                </a>
              </div>
            </div>
          <!-- Header Top -- Fin -->

          <!-- Header Bottom -- Début -->
            <div  fxLayout="row" fxFlex="70px"  fxLayoutAlign="center center" class="position-sticky" >
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center" class="menu">
                  <li>
                    <a class="active" href="javascript:void(0)" >Accueil</a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)" >Boutique</a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)" >Promotion</a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)" >Blog</a>
                  </li>
                  <li>
                    <a class="" href="javascript:void(0)" >Ambassadeurs</a>
                  </li>
                </div>

            </div>
          <!-- Header Bottom -- Fin -->

      </div>
    <!-- Header Container -- Fin -->

  </div>
<!-- Header  -- Fin  -->








