<div class="a-block-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h5 class="a-block-header-title">MODFIER L'ADRESSE DE LIVRAISON</h5>
  <button class="pa-button-circle" fxLayout="row" fxLayoutAlign="center center" (click)="updateDisplay('all')">
    <fa-icon [icon]="faArrowLeft" [styles]="{'stroke': 'red', 'color': 'white'}" ></fa-icon>
  </button>
</div>
<div class="pa-block-body">
  <form  fxLayout="row wrap">
    <div fxFlex.lt-md="100" fxFlex="50" class="pa-input-control" fxLayout="column">
      <label for="aa">Addresse</label>
      <input class="pa-input" type="text" id="aa" >
    </div>
    <div fxFlex.lt-md="100" fxFlex="50" class="pa-input-control" fxLayout="column">
      <label for="aa">Pays</label>
      <select class="pa-input" name="pets" id="pet-select" >
        <option value=""></option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
      </select>
    </div>
    <div fxFlex.lt-md="100" fxFlex="50" class="pa-input-control" fxLayout="column">
      <label for="aa">Ville</label>
      <input class="pa-input" type="text" id="aa" >
    </div>
    <div fxFlex.lt-md="100" fxFlex="50" class="pa-input-control" fxLayout="column">
      <label for="aa">Code Postal</label>
      <input class="pa-input" type="text" id="aa" >
    </div>
    <div fxFlex.lt-md="100" fxFlex="50" class="pa-input-control" fxLayout="column">
      <label for="aa">Numéro de téléphone</label>
      <input class="pa-input" type="text" id="aa" >
    </div>
  </form>
</div>
<div class="a-block-footer" fxLayout="row" fxLayoutAlign="end center" >
  <button fxFlex.lt-md="100"  type="button" class="pa-wizard-btn"  >Mettre à jour</button>
</div>
