.title{
  color: #D89065 ;
  padding-bottom: 11px;
  font-family: cocogoose;
}

.img{
  height: 500px;
  border-radius: 15px 15px 0px 0px;
}

.title-2{
  color: #D89065 ;
}

.text{
  line-height: 1.1rem;
  font-weight: bold;
}


.category-name{
  .name1{
    color: #693D2A;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

}
