<!-- Blog -- Début -->
<div>

  <!-- Blog Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- Slider  -- Début  -->
      <div>
        <app-slider title="BLOG" backgroundImageLink="assets/images/img2.jpg"></app-slider>
      </div>
      <!-- Slider  -- Fin -->

      <!-- Conseils -- Début -->
      <div fxLayout="column" class="container">

        <div fxLayout="row" >
          <h1 class="title">CONSEILS</h1>
        </div>

        <div fxFlex="47" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" class="conseil-card">
          <img class="img"  src="assets/images/apSpcOAhF8.jpg" alt="">
        </div>
        <b><div class="TextCat1">LES MEILLEURS CONSEILS POUR
          UNE BELLE PEAU...
        </div></b>

        <div class="Text1">
         <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum-
             my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
             Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper susci-
             pit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
             iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
             dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
             dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
             feugait nulla facilisi.
          </p>

          <p> Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nondre-
              rit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
              nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
              praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          </p>
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonum-
            my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper susci-
            pit lobt volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
            autem vel eum iriure dolor in hendrerit in
        </div>

      </div>

      <div fxLayout="column" class="container">

        <div fxFlex="47" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="end center" >
          <img class="img"  src="assets/images/quaxocjQqn.jpg" alt="">
        </div>
        <b><div class="TextCat2">SOULAGER LES DOULEURS
          <p>PRÉ-MENSTRUELLES...</p>
        </div></b>

        <div class="Text2" fxLayout="column" fxLayoutAlign="end start">
         <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum-
             my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
             Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper susci-
             pit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
             iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
             dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
             dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
             feugait nulla facilisi.
          </p>

          <p> Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nondre-
              rit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
              nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
              praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          </p>
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonum-
            my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper susci-
            pit lobt volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
            autem vel eum iriure dolor in hendrerit in
        </div>

      </div>


      <!-- Conseils -- Fin -->

      <!-- Actualités -- Début -->
      <div fxLayout="column" >
        <div>
          <h1 class="title">ACTUALITÉS</h1>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" >

          <div fxFlex.gt-sm="47" fxFlex="100" fxLayout="column" class="conseil-card">
            <img class="img-conseil"  src="assets/images/apSpcOAhF8.jpg" alt="">
            <div  fxLayout="column">
              <div fxLayout="column" class="category-name">
                <div class="name1"><b>NOTRE HISTOIRE</b></div>
                <p class="name2"><b>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam non-
                  drerit in vulputate velit esse molestie consequat, vel illum dolore eu feu-
                  giat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                  blandit praesent luptatum zzril delenit augue duis dolore te feugait
                  nulla facilisi. </b></p>
              </div>
            </div>
          </div>

          <div fxFlex.gt-sm="47" fxFlex="100" fxLayout="column" class="conseil-card">
              <img class="img-conseil"  src="assets/images/quaxocjQqn.jpg" alt="">
              <div  fxLayout="column" >
                <div fxLayout="column" class="category-name">
                  <div class="name1"><b>NOTRE SAVOIR-FAIRE</b></div>
                  <p class="name2"><b>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
                    nondrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                    dignissim qui blandit praesent luptatum zzril delenit augue duis
                    dolore te feugait nulla facilisi. </b></p>
                </div>
              </div>
          </div>

        </div>

        <div fxLayout="row wrap"   fxLayoutAlign="space-between center" >

          <div fxFlex.gt-sm="47" fxFlex="100" fxLayout="column" class="conseil-card">
            <img class="img-conseil"  src="assets/images/apSpcOAhF8.jpg" alt="">
            <div  fxLayout="column">
              <div fxLayout="column" class="category-name">
                <div class="name1"><b>NOS VALEURS</b></div>
                <p class="name2"><b>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam non-
                  drerit in vulputate velit esse molestie consequat, vel illum dolore eu feu-
                  giat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                  blandit praesent luptatum zzril delenit augue duis dolore te feugait
                  nulla facilisi. </b></p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- Actualités -- Fin -->


    </div>
  <!-- Blog container - Fin -->

</div>
<!-- Blog -- Fin -->

