<!-- Blog -- Début -->
<div>

  <!-- Blog Container -- Début -->
    <div class="container" fxLayout="column" fxLayoutGap="60px" >

      <!-- Slider  -- Début  -->
      <div>
        <app-slider title="BLOG" backgroundImageLink="assets/images/img2.jpg"></app-slider>
      </div>
      <!-- Slider  -- Fin -->

      <!-- Conseils -- Début -->
        <div>

        </div>
      <!-- Conseils -- Fin -->

      <!-- Actualités -- Début -->
        <div>

        </div>
      <!-- Actualités -- Fin -->


    </div>
  <!-- Blog container - Fin -->

</div>
<!-- Blog -- Fin -->

